:root {
  --dark: #2e2f42;
  --primary-brand: #4d5ae5;
  --text: #434455;
  --light: #f4f4fd;
  --accent: #e7e9fc;
  --pressed-state: #404bbf;
  --white: #ffffff;
}
html {
  overflow: auto;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
}
ul {
  list-style-type: none;
}
.container {
  width: 1128px;
  margin: 0 auto;
  padding: 0 15;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark, #2e2f42);
  background-color: var(--white, #ffffff);
  font-size: 16px;
}
/* nagłówek */
header {
  border-bottom: 1px solid var(--accent, #e7e9fc);
  background: var(--white, #ffffff);
  color: var(--dark, #2e2f42);
  font-weight: 48;
}
.navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 72px;
}

.logo-web {
  color: var(--primary-brand, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--dark, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-right: 76px;
}

.navi-link a {
  text-decoration: none;
  color: var(--dark, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.navi-link a:hover,
.navi-link a:focus {
  color: var(--pressed-state, #404bbf);
  text-decoration: none;
}
.navi-logo {
  display: inline-flex;
  height: 24px;
  align-items: center;
}
.navi-left li {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  padding-right: 40px;
}

.contacts li {
  display: inline-flex;
  margin-left: auto;
  justify-content: flex-end;
  padding-left: 40px;
}
.contacts-links a {
  text-decoration: none;
  color: var(--text, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contacts-links a:hover,
.contacts-links a:focus {
  color: var(--pressed-state, #404bbf);
}
/* studio - sekcja główna */
.hero {
  background-color: var(--dark, #2e2f42);
  text-align: center;
  height: 600px;
  margin: auto;
  padding: 0;
}

.hero-text {
  width: 496px;
  padding-top: 188px;
  margin: auto;
  font-size: 56px;
  color: var(--white, #ffffff);
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  padding-bottom: 48px;
}
.servis-button {
  width: 105;
  height: 24;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  border: 4px;
  color: var(--white, #ffffff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--primary-brand, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0, 0.15);
}
.servis-button:hover,
.servis-button:focus {
  background: var(--pressed-state, #404bbf);
}
button:hover {
  cursor: pointer;
}
/* studio - sekcja pierwsza */
h3 {
  color: var(--dark, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin: auto;
}
.feature-list ul {
  display: inline-flex;
  flex-shrink: 0;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 0;
  gap: 24px;
}
.feature-item {
  display: block;
  width: 264px;
  height: 104px;
  flex-direction: column;
  align-items: flex-start;
}
/* studio - sekcja What Are We Doing */
h2 {
  color: var(--dark, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.doing-section li {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  margin-left: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>),
    lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}
.doing {
  height: 532px;
  padding-top: 0;
  padding-bottom: 120px;
  margin: auto;
}

.doing-header {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 72px;
}
.doing-section {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0 auto;
}
/* studio - sekcja Our Team */
.team {
  background-color: var(--light, #f4f4fd);
  height: 732px;
  margin: auto;
}
.team-header {
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 72px;
}
.team-item {
  display: inline-flex;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;
  padding-left: 0;
  gap: 24px;
}
.team-item li {
  background-color: var(--white, #ffffff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-item-name {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  gap: 8px;
}
p {
  color: var(--text, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: auto;
}
/* Stopka */
.footer-class {
  background-color: var(--dark, #2e2f42);
  height: 312px;
}
.logo-footer {
  padding-top: 100px;
  justify-content: left;
}
.logo-studio-footer {
  color: var(--light, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-tekst {
  color: var(--light, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 100px;
}
/* portfolio - sekcja nawigacji*/
.navi-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 72px;
}
.navi-button button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--accent, #e7e9fc);
  color: var(--primary-brand, #4d5ae5);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  background: var(--light, #f4f4fd);
}
.navi-button button:hover,
.navi-button button:focus {
  align-items: flex-start;
  border-radius: 4px;
  color: var(--white, #ffffff);
  background: var(--pressed-state, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* portfolio - sekcja projekt*/

.project {
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
  padding-left: 0;
}
.project li {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}
.project-name {
  gap: 8px;
  padding: 32px 16px;
}

.project-box {
  padding-bottom: 48px;
  display: flex;
  gap: 24px;
  padding-left: 0;
}
.project-box li {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}
